@import '~bootstrap-icons/font/bootstrap-icons.css';
.navbar-icon2 {
    margin-left: 20px;
    width: 35px;
}

.navbar-icon {
    margin-right: 5px;
    width: 35px;
}

.login {
    width: 100%;  
    max-width: 400px;  
}

.loginbutton {
    background-image: linear-gradient( #3f87a6, #ebf8e1, #f69d3c);
    color:black;
    font-weight: bold;
    margin-left: 32%;
}

.navbar {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

#navtext {
    color: black;
}

.loginform {
    display: flex;
    justify-content: center;
    
}


body {
    padding-top: 100px; 
    background-color: hsl(200, 96%, 81%);
}

.form-label {
    color: black;
}


.form-control {
    background: linear-gradient(45deg, #f69d3c, #ebf8e1, #3f87a6);
    box-shadow:inset 0 0 5px 2px hsl(40, 100%, 99%);
}

#mainImg {
    max-width: 400px; 
    height: auto; 
    margin-top: 10px; 
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
}

#shop {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 75%;
}

.item-card {
    width: 200px; 
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    background: linear-gradient(45deg, #f69d3c, #ebf8e1, #3f87a6);
    box-shadow: 2px 5px 5px;
    min-width: 300px;
}

.item-card button {
    margin-left: 10px; 
    color: white;
    background: linear-gradient(black, grey);
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.item-card button:hover {
    background: black;
    box-shadow: none;
}
.cart-items {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    max-width: 100%;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #f69d3c, #ebf8e1, #3f87a6);
    font-weight: bold;
    
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item span {
    flex: 1; 
}

.cart-item button {
    margin-left: 10px; 
    color: white;
    background: linear-gradient(black, grey);
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.cart-item button:hover {
    background: black;
    box-shadow: none;
}

